@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}


html,
body {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  /* background-color: #fefae0; */
  /* background-color: #fff; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: yellow; */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #264653;
  border-radius: 10px;
}


.bar {
  display: block;
  width: 2rem;
  height: 3px;
  background-color: #6a040f;
  margin-top: .3rem;
  transition: transform 200ms ease-in-out;
}


.nav {
  height: 15%;
}

.hero {
  height: 85%;
}

/* .container {
  padding-inline: 5rem;
  margin: 0 auto;
  max-width: 80%;
} */

.content {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-item+.nav-item {
  padding-left: 2rem;
}

.nocontainter {
  padding-right: unset;
  padding-left: unset;
  margin: unset;
  max-width: unset;
}

@media (min-width: 640px) {
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
    margin: 0 auto;
    max-width: 80%;
  }
}

@media (min-width: 1500px) {
  .container {
    padding-right: 6rem;
    padding-left: 6rem;
    margin: 0 auto;
    max-width: 1400px;
  }
}
