@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  /* background-color: #fefae0; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: yellow; */
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0 auto;
  max-width: 90%;
}

.content {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-item+.nav-item {
  padding-left: 2rem;
}

.nocontainter {
  padding-right: unset;
  padding-left: unset;
  margin: unset;
  max-width: unset;
}

@media (min-width: 640px) {
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
    margin: 0 auto;
    max-width: 80%;
  }
}

@media (min-width: 1500px) {
  .container {
    padding-right: 6rem;
    padding-left: 6rem;
    margin: 0 auto;
    max-width: 1400px;
  }
}
